<section class="content">
  <div class="block-content">
    <h3 class="block-title">Portafolio</h3>
    <div class="row">
      <div class="col-md-12">
        <div class="portfolio-container row isotope" id="portfolio-container">
          <!-- WORK 1 START -->
          <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item artwork">
            <a class="open-project" href="project-1.html">
              <div class="portfolio-column">
                <div class="portfolio-hover">
                  <div class="portfolio-content">
                    <h2>Administrador de pacientes</h2>
                    <hr />
                    <p>Ver detalles.</p>
                  </div>
                  <div class="portfolio-overlay"></div>
                </div>
                <img
                  src="assets\images\portfolio\masonry\veterinario.jpg"
                  alt=""
                />
              </div>
            </a>
          </div>
          <!-- WORK 1 END -->
          <!-- WORK 2 START -->
          <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item webdesign">
            <a class="open-project" href="project-2.html">
              <div class="portfolio-column">
                <div class="portfolio-hover">
                  <div class="portfolio-content">
                    <h2>Control de presupuestos</h2>
                    <hr />
                    <p>Ver detalles.</p>
                  </div>
                  <div class="portfolio-overlay"></div>
                </div>
                <img
                  src="assets\images\portfolio\masonry\presupuesto.jpg"
                  alt=""
                />
              </div>
            </a>
          </div>
          <!-- WORK 2 END -->
          <!-- WORK 3 START -->
          <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item webdesign">
            <a class="open-project" href="project-3.html">
              <div class="portfolio-column">
                <div class="portfolio-hover">
                  <div class="portfolio-content">
                    <h2>Cotizador de Criptomonedas</h2>
                    <hr />
                    <p>Ver detalles.</p>
                  </div>
                  <div class="portfolio-overlay"></div>
                </div>
                <img
                  src="assets\images\portfolio\masonry\criptomoneda.jpg"
                  alt=""
                />
              </div>
            </a>
          </div>
          <!-- WORK 3 END -->
        </div>
      </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-12 btn-email">
      <a class="btn lowercase">alejandroguedes3012@gmail.com</a>
    </div>
  </div>
</section>
